body {
  background-color: #080808 !important;
  color: #e0e0e0;
  color: #e0e0e0;
  font-family: "Courier New", Courier, monospace !important;
}

.navbar {
  background-color: #1c1c1c;
  border-radius: 10px;
}

.nav-link {
  color: #4cc10e !important;
}

.nav-link:hover {
  color: #fff !important;
}

.hero {
  padding: 80px 20px;
}

.btn-custom {
  background-color: #4cc10e !important;
  border: none;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px #4cc10e88;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #3ea50d;
  box-shadow: 0 0 25px #4cc10eaa;
}

.profile-img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .text-section {
    text-align: center;
  }

  .btn-custom {
    width: 100%;
    margin-top: 20px;
  }
}

.gap-25 {
  gap: 25px;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.education-card {
  background-color: #18450d;
  border-left: 5px solid #4cc10e;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px #4cc10e55;
}

.work-card {
  background-color: #0d4445;
  border-left: 5px solid #0e91c1;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px #0ea0c155;
}

.edu-date {
  color: #b1d79c;
  font-weight: bold;
}

/* Slight hover scale for interactivity */
.skill-card:hover {
  transform: scale(1.02);
}

/* Section title */
.skill-card .card-title {
  font-size: 1.5rem; /* Larger titles */
  font-weight: 700;
}

/* Badges styled with your accent green */
.skill-badge {
  background-color: #4cc10e;
  color: #18450d;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  padding: 8px 16px;
}

/* Overall heading for the section */
.skills-heading {
  font-size: 2.1rem;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.skill-card {
  background-color: #45310d;
  border-left: 5px solid #c1af0e;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px #c1970e55;
}
a {
  text-decoration: none !important;
}

.project-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.project-subtitle {
  color: #ccc;
  font-size: 1.1rem;
}

.project-image {
  border-radius: 16px;
  width: 100%;
}

.project-badge {
  background-color: #4cc10e;
  color: #101010;
  font-weight: 600;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 0.95rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.icon-badge {
  font-size: 1.4rem;
}

.contact-header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.highlight {
  color: #4cc10e;
  font-style: italic;
}

.email-link {
  color: #a96cfd;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-header {
    font-size: 2.2rem;
  }
}

.fb-50 {
  flex-basis: 50% !important;
}
