body {
  background-color: #080808 !important;
  color: #e0e0e0;
  color: #e0e0e0;
  font-family: "Courier New", Courier, monospace !important;
}

.navbar {
  background-color: #1c1c1c;
  border-radius: 10px;
}

.nav-link {
  color: #aaa !important;
}

.nav-link:hover {
  color: #fff !important;
}

.hero {
  padding: 80px 20px;
}

.btn-custom {
  background-color: #4cc10e !important;
  border: none;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px #4cc10e88;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #3ea50d;
  box-shadow: 0 0 25px #4cc10eaa;
}

.profile-img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .text-section {
    text-align: center;
  }

  .btn-custom {
    width: 100%;
    margin-top: 20px;
  }
}

.gap-25 {
  gap: 25px;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.education-card {
  background-color: #18450d;
  border-left: 5px solid #4cc10e;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px #4cc10e55;
}

.edu-date {
  color: #b1d79c;
  font-weight: bold;
}
